.applicationList {
    padding: 20px;
}


.applicationCard {
    display: grid;
    grid-template-columns: 1.4fr 1fr 1.5fr 1fr 1fr 2.6fr 0.6fr 0.6fr 0.6fr;
    align-items: stretch;

    min-height: 90px;
    max-height: 90px;
    margin-bottom: 5px;
    padding-left: 10px;

    background-color: var(--color-surface);
    transition: background-color 0.15s ease, border-color 0.15s ease;

    border: 2px solid var(--color-border-strong);
    border-radius: 25px;
}

.applicationCard:hover {
    background-color: var(--color-surface-hover);
    border: 2px solid var(--color-border-strong);
}

.applicationCard > * {
    margin: 0;
    padding: 15px;

    border-right: 1px solid var(--color-border);

    display: flex;
    align-items: center;

    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-text-primary);
}

.applicationCard:hover > * {
    border-right-color: var(--color-border-hover);
}


.applicationCard > *:first-child, .applicationCard > *:nth-child(3) {
    font-weight: 600;
}

.applicationCard > *:nth-child(2) {
    color: var(--color-link);
    font-weight: var(--font-weight-medium);
    text-decoration: none;
}

.applicationCard > *:nth-child(2):hover {
    color: var(--color-link);
    font-weight: 650;
    text-decoration: underline;
}

.applicationCard > *:nth-child(5) {
    justify-content: center;
}

.applicationCard > *:last-child, .applicationCard > *:nth-child(7), .applicationCard > *:nth-child(8) {
    text-align: center;
    font-size: 0.800rem;
}

.applicationCard > *:last-child {
    border-right: none;
}

.statusBadge {
    display: inline-flex;
    width: fit-content;
    padding: 11px 16px;
    border-radius: 999px;
    font-weight: 600;
}

.statusBadge--sent {
    background-color: #dbeafe;
    color: #1d4ed8;
}

.statusBadge--interview {
    background-color: #fef3c7;
    color: #92400e;
}

.statusBadge--rejected {
    background-color: #fee2e2;
    color: #991b1b;
}

.statusBadge--offer {
    background-color: #dcfce7;
    color: #166534;
}

